<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active" [routerLink]="['/users/list']">Usuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/new']">Novo Usuário</a>
    </li>
</ul>