<main class="container">
    <h1 class="m-2">
        {{ isEditPage ?  'Editar Usuário' : 'Novo Usuário' }}
    </h1>

    <div *ngIf="isLoading">
        <h3 style="text-align: center;">
            Carregando...
        </h3>
    </div>

    <form [formGroup]="form" *ngIf="!isLoading">
        <div class="row">
            <div class="col-md">
                <app-input
                    formControlName="nome"
                    [isInvalid]="isValidInput('nome')"
                    label="Nome"></app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <app-input
                    formControlName="cpf"
                    label="CPF"
                    [isInvalid]="isValidInput('cpf')"
                    mask="000.000.000-00"></app-input>
            </div>
            <div class="col-md">
                <app-input
                    formControlName="cep"
                    label="CEP"
                    [isInvalid]="isValidInput('cep')"
                    mask="00000-000"></app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <app-input
                    formControlName="logradouro"
                    label="Logradouro"
                    [isInvalid]="isValidInput('logradouro')"></app-input>
            </div>
            <div class="col-md-2">
                <app-input
                    type="number"
                    formControlName="numero"
                    label="Número"
                    [isInvalid]="isValidInput('numero')"></app-input>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md">
                <app-input
                    formControlName="bairro"
                    label="Bairro"
                    [isInvalid]="isValidInput('bairro')"></app-input>
            </div>
            <div class="col-md">
                <app-input
                    formControlName="localidade"
                    label="Localidade"
                    [isInvalid]="isValidInput('localidade')"></app-input>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="uf" [ngClass]="{'text-danger': isValidInput('uf')}">UF</label>
                    <select  [ngClass]="{'form-control': true, 'is-invalid': isValidInput('uf')}"
                        class="form-control" id="uf" formControlName="uf">
                      <option *ngFor="let uf of UFSelect" [value]="uf.sigla">{{ uf.nome }}</option>
                    </select>
                    <small class="form-text text-danger" *ngIf="">

                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <button
                    type="button"
                    class="btn btn-light btn-lg w-100"
                    (click)="goList()">Voltar</button>
            </div>
            <div class="col-md">
                <button
                    type="button"
                    [ngClass]="{'btn btn-lg w-100': true, 'btn-primary': !isEditPage, 'btn-warning': isEditPage}"
                    class="btn btn-primary btn-lg w-100"
                    (click)="newUser()">{{ isEditPage ?  'Alterar' : 'Salvar' }}</button>
            </div>
        </div>
    </form>
</main>
