<div class="form-group">
    <label [for]="id" [ngClass]="{ 'text-danger': isInvalid }" >{{ label }}</label>
    <input
        [type]="type"
        [(ngModel)]="value"
        [id]="id"
        [mask]="mask"
        [ngClass]="{'form-control': true, 'is-invalid': isInvalid}">
    <small class="form-text text-danger" *ngIf="isInvalid">
        {{ errorMessage }}
    </small>
</div>