$size-button: 50px;
$margin: 10px;

.float-button {
    padding: 0;
    width: $size-button;
    height: $size-button;
    border-radius: $size-button;
    position: fixed;
    bottom: $margin;
    right: $margin;
}