<main class="container">
  <h1 class="m-4">
    Lista de Usuários
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="!errorStatus.hasError; else errorTemplate">
      <tr *ngFor="let user of users">
        <td>{{ user.nome }}</td>
        <td>{{ user.cpf | mask : cpfMask }}</td>
        <td>
          <div class="action-button text-muted" (click)="goToEditUser(user.id)">Editar</div>
          <div class="action-button text-danger" (click)="deleteUser(user.id)">Remover</div>
        </td>
      </tr>
    </tbody>
    <ng-template #errorTemplate>
      <h2>Ops, aconteceu um erro</h2>
    </ng-template>
    <h2 *ngIf="loadingStatus.isLoading">
      Carregando...
    </h2>
  </table>
</main>

<app-float-button (click)="goToNewUser()">
  <span class="add-user-button">
    +
  </span>
</app-float-button>
